html {
    background-color: rgba(106, 59, 161, 0.808);
}

.flexColumnDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerPanel {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: solid 5px rgb(51, 9, 99);
    border-radius: 50vw;
    width: 40vw;
    height: 40vw;
    /* To avoid oversized circle, we limit the size with the height, since the width usually grow faster than height. */
    max-width: 50vh;
    max-height: 50vh;
    justify-content: space-evenly;
}

h1 {
    margin: 10px 0 100px 0;
    text-align: center;
    font-size: 6em;
}

#timerStatus {
    font-size: 2em;
    display: flex;
    margin: 10px 0 20px 0;
    border: solid 5px rgb(51, 9, 99);
    border-radius: 50vw;
    width: 50%;
    max-width: 600px;
    height: 5vw;
    max-height: 10vh;
    align-items: center;
    justify-content: center;
}

#timerDisplay {
    text-align: center;
    font-size: 8em;
    margin: 25px;
}

#timerButton::before {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    #timerStatus {
        font-size: 2.5em;
        width: 75%;
        height: 15vw;
    }

    #timerDisplay {
        text-align: center;
        font-size: 6.5em;
    }

    .timerPanel {
        width: 60vw;
        height: 60vw;
    }
}

.workActive {
    background-color: rgb(187, 76, 76);
}

.breakActive {
    background-color: rgb(104, 165, 69);
}

@media screen and (max-width: 768px) {
    #timerStatus {
        font-size: 1.5em;
        width: 75%;
        height: 15vw;
    }

    h1 {
        margin: 10px 0 50px 0;
        font-size: 4em;
    }

    #timerDisplay {
        text-align: center;
        font-size: 4em;
    }

    .timerPanel {
        width: 70vw;
        height: 70vw;
    }
}
