:root {
    --main-color: rgb(51, 9, 99);
    --rotation-timer: 360deg;
    --work-active-color: rgb(187, 76, 76);
    --break-active-color: rgb(104, 165, 69);
    --rotation-timer-color: var(--work-active-color);
}

body,
input {
    font-family: "Mulish";
}

html {
    overflow-x: hidden;
}

/** Pop-up part */

.pop-up {
    width: 50%;
    min-height: 7%;
    max-width: 400px;
    z-index: 1000;
    padding: 5px;
    position: fixed;
    right: 0;
    display: flex;
    background-color: white;
    border: solid 1px var(--main-color);
    border-radius: 5px 3px 3px 5px;
    transform: translateX(100%);
    box-shadow: 5px 5px 5px rgba(51, 9, 99, 0.5);
}

.left-border-orange {
    border-left: solid 5px orange;
}
.left-border-blue {
    border-left: solid 5px rgb(0, 102, 255);
}

.pop-up em {
    margin: auto;
    margin-right: 8px;
}

.pop-up em::before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up h1 {
    margin: 0;
    text-align: left;
    font-size: 1.5em;
}

.pop-up p {
    margin: 0;
}

@keyframes popupAlert {
    0% {
        transform: translateX(100%);
    }
    5%,
    95% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(100%);
    }
}

.flexColumnDisplay {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#infos {
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
    justify-items: center;
}

.timerPanel {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: solid 5px var(--main-color);
    border-radius: 50vw;
    width: 40vw;
    height: 40vw;
    /* To avoid oversized circle, we limit the size with the height, since the width usually grow faster than height. */
    max-width: 50vh;
    max-height: 50vh;
    justify-content: space-evenly;
    transition: background 4s ease;
    background: conic-gradient(
        var(--rotation-timer-color) 0deg var(--rotation-timer),
        white var(--rotation-timer) 360deg
    );
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 0 15px 0;
}

/** Timer part, with timer status and the display */

#timerStatus {
    font-size: 1.5em;
    display: flex;
    border: solid 5px var(--main-color);
    border-radius: 50vw;
    width: 70%;
    max-width: 600px;
    height: 5vw;
    max-height: 6vh;
    align-items: center;
    justify-content: center;
}

#timerDisplay {
    text-align: center;
    font-size: 8em;
    margin: 25px;
    user-select: none;
}

@keyframes dring {
    0% {
        transform: rotateZ(0);
    }
    33% {
        transform: rotateZ(-5deg);
    }
    66% {
        transform: rotateZ(5deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

#timerButton::before {
    display: flex;
    justify-content: center;
}

#inputSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
}

#inputSection div {
    display: flex;
    justify-content: center;
}

#inputSection div label {
    align-self: center;
    display: inline-block;
    width: 10%;
    font-size: 2em;
    user-select: none;
}

#inputSection div input {
    display: inline-block;
    width: 20%;
    height: 5vh;
    border-radius: 50px 50px 50px 50px;
    border-width: 1px;
    border-color: var(--main-color);
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
    #timerStatus {
        width: 75%;
        height: 15vw;
    }

    #timerDisplay {
        text-align: center;
        font-size: 6.5em;
    }

    .timerPanel {
        width: 60vw;
        height: 60vw;
    }

    #inputSection div label {
        display: inline-block;
        width: 25%;
    }
}

.workActive {
    background-color: var(--work-active-color);
}

.breakActive {
    background-color: var(--break-active-color);
}

@media screen and (max-width: 768px) {
    #timerStatus {
        width: 100%;
        font-size: 1.5em;
    }

    h1 {
        font-size: 4em;
    }

    #timerDisplay {
        text-align: center;
        font-size: 5em;
    }

    .timerPanel {
        width: 70vw;
        height: 70vw;
    }

    #inputSection div label {
        font-size: 1.5em;
        display: inline-block;
        width: 25%;
    }
}
